.venv/
__pycache__/
*.pyc
*.pyo
.env
*.pkl
*.db
chroma_store/
data/
*.csv
*.json
*.bin
*.sqlite3
*.pickle
node_modules/
frontend/node_modules/
frontend/build/
*.log
.DS_Store
frontend/public/*.jpeg
frontend/public/*.jpg
frontend/public/*.png
